/* I add this line to all of my CSS files by default */
body * {
    box-sizing: border-box;
}

/*
----------
Properties
----------
align-items: 		(flex-start, flex-end, space-around, space-between, center)
justify-content: 	(same as align-items)
flex-direction: 	(row, column, row-reverse, column-reverse)
flex-wrap: 		    (no-wrap, wrap)
*/

main, section {
    border: solid 1px  black;
}

main {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;   
}

section {
    width: calc(25% - 20px);
    padding: 10px;
    min-height: 250px;
}




@media only screen and (max-width: 1000px) {
    section {
        width: calc(50% - 20px);
        padding: 10px;
        min-height: 250px;
    }
}

@media only screen and (max-width: 800px) {
    section {
        width: calc(100% - 20px);
        padding: 10px;
        min-height: 250px;
    }
}

