@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

main > section {
  padding: 20px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

/* Tablet */
@media screen and (max-width: 1200px) {
  /* goal: when it becomes tablet dimension, the main tag should only have 3 columns */

  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
  }
}